.wrapper_pokemon_item {
  margin-top: 45px;
}

.wrapper_pokemon_item:nth-child(1),
.wrapper_pokemon_item:nth-child(2) {
  margin-top: 25px;
}

.wrapper_pokemon_item .wrapper_card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 8px;
}

.wrapper_pokemon_item .wrapper_card p {
  margin-bottom: 0;
  color: rgb(218, 87, 87);
  font-size: 18px;
  line-height: 30px;
}

.wrapper_pokemon_item .wrapper_card p span {
  color: #dba605;
}

.wrapper_pokemon_item .wrapper_card a {
  color: rgb(218, 87, 87);
  border-radius: 5px;
  background: white;
  border: 1px solid rgb(218, 87, 87);
  padding: 5px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.wrapper_pokemon_item .wrapper_card a:hover {
  color: white;
  background: rgb(218, 87, 87);
  border: 1px solid rgb(218, 87, 87);
  transition: all 0.3s ease;
}
