.wrapper_about_pokemon .wrapper_title {
  text-align: center;
  margin: 50px 0;
}

.wrapper_about_pokemon .wrapper_title h1 {
  font-size: 55px;
  color: #ffc107;
}

.wrapper_about_pokemon .wrapper_pokemons {
  padding: 30px 30px;
  background: white;
  border-radius: 2px;
  margin-bottom: 30px;
}
