@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background: #eee;
  font-family: "Poppins", sans-serif;
}

.border {
  border: 1px solid black !important;
}

.wrapper_app .wrapper_title {
  text-align: center;
  margin: 50px 0;
}

.wrapper_app .wrapper_title h1 {
  font-size: 55px;
  color: rgba(0, 0, 0, 0.7);
}

.wrapper_pokemons {
  padding: 30px 30px;
  background: white;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 30px;
}

.wrapper_pokemons .wrapper_subtitle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.wrapper_pokemons .wrapper_subtitle h3 {
  color: rgba(0, 0, 0, 0.6);
  margin-left: 5px;
}

.wrapper_pokemons .wrapper_button {
  margin-top: 50px;
  text-align: center;
}

.wrapper_pokemons .wrapper_button button {
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.wrapper_pokemons .wrapper_button button:hover {
  border: 1px solid rgba(0, 0, 0, 0.6) !important;
  color: rgba(0, 0, 0, 0.6) !important;
  background: white !important;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}
